body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Estedad;
    src: local("Estedad"), url("assets/fonts/Estedad-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
